VITE_SUPABASE_URL=https://your-supabase-url.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_SUPABASE_SERVICE_KEY=your-supabase-service-key

VITE_APP_URL=http://localhost:3000
VITE_RESTAURANT_NAME=Waroeng RCM
VITE_RESTAURANT_TAGLINE=Makanan Enak

# Midtrans Configuration
# Taruh di Frontend (Vite) & Backend (Vercel)
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
# HARUS RAHASIA: Hanya taruh di Vercel Environment Variables
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxx
# set true untuk Production
MIDTRANS_IS_PRODUCTION=false
